.articlewrap{
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.readareawrap{
	background-color: white;
	margin-top: 20px;
	padding-bottom: 10px;
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #CCC;
	border-radius: 4px;
}

div.sharereadwrap{
	background-color: white;
	padding: 20px;
	float:none;
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #CCC;
	border-radius: 4px;
	margin:0 auto;
	margin-top: 15px;
}

.readarea li{
	list-style: disc;
}

.articlelist{
	float: left;
	width: 250px;
	margin-top: 20px;
	margin-right: 19px;
	background: white;
	border-radius: 4px;
	border: 1px solid #CCC;
	padding-top: 20px;
	border-bottom: 2px solid #CCC;
	margin-bottom: 10px;
	/*position:fixed;*/
}

.fixedarticlelist{
	position:fixed;
	top:-20px;
	max-height: 80%;
	/*overflow-y:scroll; */
	overflow-x:hidden;
	/*opacity: 0.3;*/
}
.fixedarticlelist:hover{
	/*opacity:1;*/
}

.leftsharereadwrap{
	margin-left: 268px;
}

.book{
	padding-bottom: 20px;
}

.collectiontitle{
	font-size: 1.3em;
	padding: 10px 20px;
}

a#modifycollection{
	display: inline;
	font-size: 0.5em;
	color: #CCC;
	padding-left: 5px;
}

a#modifycollection:hover{
	color: black;
}

#modifycollectiontitle{
	padding: 5px;
	padding-bottom: 6px;
	margin-right: 0;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
	border: 1px solid #680;
	width: 124px;
}

a#submitmodifiedtitle{
	background: #680;
	color: white;
	padding: 5px 10px;
	text-align: center;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-top: 10px;
	font-size: 16px;
	font-family: "Sayo UV Mono DL","Sayo UV Mono BG","Consolas","DejaVu Sans Mono",monospace;
	margin-left: -5px;
	display: inline;
}

.collectionarticle{
	padding: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

.articlelist a{
	font-size: 0.9em;
	display: block;
	padding: 6px 10px;
	padding-left: 20px;
	margin-right: -10px;
}

div.MathJax_SVG_Processed{
	display: block !important;
}

span.MathJax_SVG_Processed{
	display: inline-block !important;
}

.MathJax_SVG>SVG{
	display: none !important;
}
.MathJax_SVG>:first-child{
	display: inline-block !important;
}

.MathJax_Preview{
	display: none !important;
}

a#addanarticle, #deletethiscollection{
	padding: 10px 25px;
	padding-right: 20px;
	font-size: 11px;
	padding-left: 0px;
	color: #CCC;
	display: inline;
}
/*
.MathJax_SVG_Display + script[type="math/tex; mode=display"]{
	display: none !important;
}*/

a.addanarticle{
	padding-top: 20px;
}

a#addanarticle:hover, a#deletethiscollection:hover{
	color: black;
}

a.modifyarticle, a.deletearticle{
	padding: 20px 20px;
	color: #CCC;
}

a.deletearticle{
	padding-top: 0;
}

a.modifyarticle:hover, a.deletearticle:hover{
	color: black;
}

a.article_h2{
	padding-left: 32px;
	font-size: 0.8em;
	margin-left: -15px;
}

a.article_h2:hover{
	background: rgba(230,230,230,0.9);
}

a.articlelisttitle{
	border-top: 1px dashed #CCC;
	margin-left: -15px;
	margin-right: -10px;
}

a.articlelisttitle:hover{
	background: rgba(230,230,230,0.9);
}

a.spearticlelisttitle{
	background: rgba(102,136,0,0.5);
	font-size: 1.1em;
	color: white;
	padding: 10px 20px;
	margin-left: -15px;
	margin-right: -10px;
	display: block;
}

a.spearticlelisttitle:hover{
	background: rgba(102,136,0,1);
}

#writing{
	font-family: "Verdandi Modern","Georgia","Verdandi Sung";
}

#writing h1{
	font-size: 2.5em;
	font-family: "Verdandi Modern","Georgia","Verdandi Sung";
	line-height: 1.2em;
}

#writing h2{
	font-size: 1.5em;
	font-family: "Verdandi Modern","Georgia","Verdandi Sung";
	font-weight: bold;
	margin-top: 45px;
}

#writing h3{
	font-size: 1.2em;
	font-family: "Verdandi Modern","Georgia","Verdandi Sung";
	font-weight: bolder;
	margin-top: 30px;
}

#store_author_container{
	display: block;
	height: 60px;
}

#author_img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	float: left;
}

#article_info_block{
	padding: 10px 10px;
	margin-top: -11px;
	float: left;
}

.MathJax_SVG_Display {
	overflow-x: auto;
}

@media (min-width: 1200px) {
    .readareawrap {
    	float: left;
    	width: 870px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .readareawrap {
    	float: left;
    	width: 650px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
	.articlewrap {
		width: auto;
	}
}

@media (max-width: 768px) {
	#writing h1{
		font-size: 2.3em;
	}
}
