body{
	background: url("/static/image/bg.png");
	/*background-size: 100% 300%;*/
	margin: 0;
	font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

a{
	color:lightblue;
	text-decoration:none;
	transition: 0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}

li{
	list-style: none;
}

.button{
	background-color: rgba(102,136,0,0.9);
	color: #CCC;
	border-radius: 4px;
}

.button:hover{
	background-color: rgba(122, 156, 20, 0.9);
	color: white;
}

.headerwrap{
	padding: 10px 0; 
	color: white;
	background-color: rgba(102,136,0,0.9);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header{
	padding-left: 20px;
}

.logo{
	font-size: 30px;
}

.mainwrap{
	width: 100%;
	margin: 20px 0 20px 0;
	float: left;
}
.footerwrap{
	float: left;
	color: white;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.9);
}

.center {
	text-align: center;
	margin: 0 auto;
}

