body{
	background: url("/static/image/bg.png");
	margin: 0;
	word-wrap: break-word;
	font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

a, a:hover{
	color: #680;
	text-decoration:none;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
}

li{
	list-style: none;
}

table td{
	border: 1px solid;
}

thead{
	background-color: black;
	color: white;
}

th, td{
	padding: 5px 10px;
}

code.hljs{
	display: inline-block;
	font-family: monospace, "Source Code Pro", "Consolas", "Sayo UV Mono DL","Sayo UV Mono BG","DejaVu Sans Mono";
	line-height: 1.3em;
	font-weight: bolder;
}

p code.hljs, li code.hljs{
	background: transparent;
	padding: 0.2em;
	color: #900 !important;
	border-radius: 4px;
	font-weight: bolder;
}

span.hljs-title, span.hljs-prompt{
	color: #900 !important;
}

pre{
	background: #f8f8f8;
	font-size: 0.9em;
	line-height: 1.5em;
	border-radius: 5px;
	white-space: pre-wrap;
}

blockquote{
	border-left: 10px solid lightblue;
	padding: 10px;
	padding-left: 20px;
	margin-left: 0;
	background: #f8f8f8;
}

hr{
	border-style: ridge;
	margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

p code{
	
}

.artdes code{
	background: white;
}

.wrap{
	margin: 0 auto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.MathJax_Display{
	font-family:  "Math-Symbol","Math-Text","Tinos","Linux Libertine","Times New Roman",serif;
}

.none{
	display: none;
}

.spefont{
	font-family: "Verdandi Modern","Georgia","Verdandi Sung";
}

.home{
	color: rgba(255,255,255,0.8);
	/*color: rgba(146, 194, 3, 1);*/
	font-weight: bold;
}

.home:hover{
	color: rgba(255,255,255,1);
	/*text-shadow: 0px 1px 1px #FFFFFF;*/

}

.button{
	background-color: rgba(102,136,0,0.9);
	color: #CCC;
	border-radius: 4px;
}

.button:hover{
	background-color: rgba(122, 156, 20, 0.9);
	color: white;
}

.headerwrap{
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 1);
	margin: 0 auto;
	border: 0;
	border-bottom: 1px dashed rgba(0,0,0,0.2);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

.headerwrap:hover{
	box-shadow: 0 0 30px 9px #FFF;
}

.header{
	margin: 0 auto;
}

.logo{
	font-size: 30px;
	padding-left: 20px;
	padding-top: 13px;
}

.leftitem{
	float: left;
}

.leftitem a{
	float: left;
	color: white;
	display: block;
	height: 40px;
	padding: 0 20px;
	padding-top: 20px;
}

.leftitem a:hover{
	color: #680;
	background-color: white;
}

.readbutton{
	margin-left: 30px;
}

.mainwrap{
	width: 100%;
	margin: 0 0 20px 0;
	float: left;
}

#ForCheck{
	color: #CCC;
	font-size: 0.9em;
}
.footerwrap{
	/*color: white;*/
	clear: both;
	padding: 10px 0;
	/*width: 1200px;*/
	text-align: center;
	line-height: 24px;
	/*font-weight: bold;*/
	opacity: 0.7;
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

.footerwrap:hover{
	opacity: 1;
}

.footerwrap a{
	color: #680;
}

.center {
	text-align: center;
	margin: 0 auto;
	color: #888;
	font-size: 0.9em;
	overflow-x: auto;
}

.readareawrap{
	line-height: 1.7em;
	font-size: 18px;
}

.readareawrap p{
	line-height: 1.5em;
}

.readareawrap li{
	list-style: disc;
}

.readareawrap h2{
	border-left: 13px solid #680;
	padding-left: 10px;
	margin-left: -20px;
}

.tablewrap {
	overflow-x: auto;
}

.logbox{
	display: none;
}