body{
	background: url("/static/image/bg.png");
	/*background-size: 100% 300%;*/
	margin: 0;
	font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

a{
	color: #680;
	text-decoration:none;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
}

li{
	list-style: none;
}

table td{
	border: 1px solid;
}

thead{
	background-color: black;
	color: white;
}

th, td{
	padding: 5px 10px;
}

code.hljs{
	display: inline-block;
	font-family: "Sayo UV Mono DL","Sayo UV Mono BG","Consolas","DejaVu Sans Mono",monospace;
	line-height: 1.3em;
}

p code.hljs{
	background: transparent;
	padding: 0.2em;
}

pre{
	background: #f8f8f8;
	line-height: 1.5em;
	border-radius: 5px;
	white-space: pre-wrap;
}

blockquote{
	border-left: 10px solid lightblue;
	padding: 10px;
	padding-left: 20px;
	margin-left: 0;
	background: #f8f8f8;
}

hr{
	border-style: ridge;
}

p code,{
	display: inline-block;
	white-space: no-wrap;
	background: #fff;
	font-size: .8em;
	line-height: 1.5em;
	color: #555;
	border: 1px solid #ddd;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border-radius: 0.2em;
	padding: 0 .3em;
	margin: -1px 0;
}

.artdes code{
	background: white;
}

.wrap{
	width: 100%;
	background: rgba(0,0,0,0.7);
}

.MathJax_Display{
	font-family:  "Math-Symbol","Math-Text","Tinos","Linux Libertine","Times New Roman",serif;
}

.none{
	display: none;
}

.spefont{
	font-family: "Verdandi Modern","Georgia","Verdandi Sung";
}

.home{
	color: rgba(255,255,255,0.8);
	/*color: rgba(146, 194, 3, 1);*/
	font-weight: bold;
}

.home:hover{
	color: rgba(255,255,255,1);
	/*text-shadow: 0px 1px 1px #FFFFFF;*/

}

.button{
	background-color: rgba(102,136,0,0.9);
	color: #CCC;
	border-radius: 4px;
}

.button:hover{
	background-color: rgba(122, 156, 20, 0.9);
	color: white;
}

.headerwrap{
	width: 1200px;
	height: 50px; 
	color: white;
	padding-bottom: 10px;
	/*background-color: rgba(0, 0, 0, 0.7);*/
	margin: 0 auto;
	/*background: white;*/
	border-bottom: 1px dashed rgba(0,0,0,0.2);
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

.header{
	width: 1200px;
	margin: 0 auto;
}

.logo{
	font-size: 30px;
	padding-left: 20px;
	padding-top: 13px;
}

.leftitem{
	float: left;
}

.leftitem a{
	float: left;
	color: white;
	display: block;
	height: 40px;
	padding: 0 20px;
	padding-top: 20px;
}

.leftitem a:hover{
	color: #680;
	background-color: white;
}

.readbutton{
	margin-left: 30px;
}

.mainwrap{
	width: 100%;
	margin: 0 0 20px 0;
	float: left;
}
.footerwrap{
	float: left;
	/*color: white;*/
	padding: 10px 0;
	width: 100%;
	text-align: center;
	/*background: rgba(0,0,0,0.9);*/
}

.footerwrap a{
	color: #680;
}

.center {
	text-align: center;
	margin: 0 auto;
	color: #888;
	font-size: 0.9em;
}

.readareawrap{
	line-height: 1.7em;
	font-size: 19px;
}

.readareawrap p{
	line-height: 1.5em;
}

.readareawrap li{
	list-style: disc;
}

.readareawrap h2{
	border-left: 13px solid #680;
	padding-left: 10px;
	margin-left: -25px;
}

.logbox{
	display: none;
}