.browsewrap{
	/*width: 1200px;*/
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.booklist{
	float: left;
	width: 250px;
	margin-top: 15px;
	margin-right: 19px;
	background: white;
	border-radius: 4px;
	border: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	margin-bottom: 10px;
	/*padding-bottom: 20px;*/
}

.book{
	/*padding-bottom: 20px;*/
}

.booktitle{
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 0;
	/*border-bottom: 1px solid rgba(102,136,0,0.5);*/
}

a.modifybook{
	font-size: 0.5em;
	color: #CCC;
}

a.modifybook:hover{
	color: black;
	background: white;
}

.modifybookbox{
	margin-left: -10px;
	margin-top: 10px;
}

.submitmodifiedtitle, a.submitcollect{
	background: #680;
	color: white;
	padding: 5px 10px;
	text-align: center;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-top: 10px;
	font-size: 16px;
	font-family: "Sayo UV Mono DL","Sayo UV Mono BG","Consolas","DejaVu Sans Mono",monospace;
	margin-left: -5px;
}

a.submitmodifiedtitle:hover, a.submitcollect:hover{
	background: rgba(102,136,0,0.9);	
}

.addcollectbox{
	padding: 10px;
}

.booktitletext{
	margin-right: 10px;
}

input.modifybooktitle, input.addcollecttitle{
	padding: 5px;
	padding-bottom: 6px;
	margin-left: 10px;
	margin-right: 0;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
	border: 1px solid #680;
	width: 152px;
}

input.modifybooktitle{
	width: 124px;
}

.bookcollect{
	padding: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

div.book_operation{
	background: rgba(102,136,0,0.5);
	padding-left: 20px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-left: -20px;
	margin-right: -10px;
}

.bookcollect a{
	font-size: 0.9em;
	display: block;
	padding: 5px 20px;
	margin-left: -15px;
	margin-right: -10px;
}

.booklist a:hover{
	background: rgba(230,230,230,0.9);
}

#addbook{
	padding-left: 25px;
	padding-bottom: 20px;
}

#expandaddbook{
	margin: 20px;
	margin-left: 0;
	padding-left: 20px;
	font-size: 0.9em;
	color: #CCC;
	display: block;
}

#expandaddbook:hover{
	background: transparent;
	color: black;
}

#addbooktitle{
	padding: 5px;
	margin-left: -5px;
	width: 120px;
	margin-right: 10px;
}

#addbookbox{
	padding: 5px 25px;
}

#submitbook{
	background: #680;
	width: 30px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	margin-top: 10px;
}

a.expandaddcollect, a.deletethisbook{
	padding: 10px 25px;
	padding-right: 10px;
	font-size: 11px;
	padding-left: 0px;
	color: #EEE;
	display: inline;
}

a.expandaddcollect:hover, a.deletethisbook:hover{
	color: white;
	background-color: transparent;
}


.articlelist{
	margin-top: 15px;
}

.largearticlelist {
	float: left;
	width: 870px;
}

.article{
	display:block;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #CCC;
	padding: 20px;
	padding-top: 0px;
	padding-right: 30px;
	border-bottom: 2px solid #CCC;
	margin-bottom: 13px;
	transition: 1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;

}

.article:hover{
	box-shadow: 0 1px 10px 1px #999;
	cursor: pointer;
}

.article:hover .arttitle{
	color:#680;
}

.timecontainer{
	float: left;
	width: 60px;
	margin-top: 27px;
	/*background-color: rgba(102, 136, 0, 0.4);*/
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	border: 1px solid #CCC;

}

.artdate{
	font-size: 30px;
	color: #680;
}

.artmain{
	float: left;
	width: 735px;
	margin-left: 20px;
}

span.MathJax_SVG{
	display: none !important;
}

.arttitle{
	margin-bottom: 0;
}

.arttitle a{
	color: #333;
}

.arttitle a:hover{
	color: #680;
}

.artfrom{
	color: #CCC;
	font-size: 0.8em;
	margin-top: 10px;
}

.artdes{
	margin-top: 15px;
	color: #888;
	font-size: 0.9em;
	overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1200px){
    .largearticlelist {
    	width: 670px;
    }

    .artmain{
		width: 535px;
		margin-left: 20px;
	}
}