{% extends 'base.html' %}

{% block title %}
	<title>{{ article_title }} - Kyles' Garden</title>
{% end %}

{% block description %}
	<meta name="Keywords" content="阅读 Kyles' garden blog" />
    <meta name="Description" content="Kyles' garden 的博客阅读页面" />
{% end %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/article.css") }}">
{% end %}

{% block custom_js %}
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>
	<script type="text/javascript" src="{{ static_url("js/article.js") }}"></script>
	<script type="text/javascript">
		// Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
		// Preview.callback.autoReset = true;  // make sure it can run more than once
		// Preview.Init();
		// Preview.Update();
	</script>
{% end %}

{% block main %}
	<div id="null_box" class="none">
		<span id="null_block">$$$$</span>
	</div>
	<div class="articlewrap">
		<div class="articlelist">
			<div class="collectiontitle spefont"><span id="collectiontitletext">{{ collection['title'] }}</span>
				{% if SU %}
				<a href="#" id="modifycollection">Modify</a>
				<div class="modifycollectionbox none" id="modifycollectionbox">
					<input type="text" class="modifycollectiontitle" id="modifycollectiontitle">
					<a href="#" class="submitmodifiedtitle" id="submitmodifiedtitle" value="{{ collection['id'] }}">Submit</a>
				</div>
				<div class="collection_operation">
					<a href="/edit/collection/{{ collection['id'] }}" id="addanarticle">Add an Article</a>
					<a href="/delete/collection/{{ collection['id'] }}" id="deletethiscollection">Delete this Collection</a>
				</div>
				{% end %}
			</div>
			<div class="collectionarticle">
				{% for collection_article in collection_articles %}
					{% if str(collection_article['id']) == str(aid) %}
						<span href="/article/{{ collection_article['id'] }}" class="articlelisttitle spearticlelisttitle">{{ collection_article['title'] }}</span>
					{% else %}
						<a href="/article/{{ collection_article['id'] }}" class="articlelisttitle">{{ collection_article['title'] }}</a>
					{% end %}
				{% end %}
			</div>

			{% if SU %}
			<a href="/edit/article/{{ aid }}" class="modifyarticle">Modify this Article</a>
			<a href="/delete/article/{{ aid }}" class="deletearticle">Delete this Article</a>
			{% end %}
		
		</div>
		<div class="readareawrap">
			<div id="store_author" class="none">
				<div id="store_author_container">
					<img src="{{ static_url("image/author.jpg") }}" alt="author_img" id="author_img">
					<span id="article_info_block">
						<a href="/article/2" id="author_name" class="spefont" target="_blank">Kyles Light</a> · 
						<span id="article_date" class="spefont">{{ article_date }}</span>
					</span>
				</div>
			</div>
			<div id="writing">
				{% raw maintext %}
			</div>
		</div>
	</div>
{% end %}