<!doctype html>
<html>
<head>
	{% block title %}
	{% end %}

	{% block describtion %}
	{% end %}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/base.css") }}">
	<link rel="shortcut icon" href="{{ static_url("image/favicon.ico") }}" type="image/vnd.microsoft.icon">
	<link rel="icon" href="{{ static_url("image/favicon.ico") }}" type="image/vnd.microsoft.icon">
	<script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/marked.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/base.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/md5.js") }}"></script>
	<link rel="stylesheet" href="{{ static_url("css/github.css") }}" >
	<script src="{{ static_url("js/highlight.js") }}"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	{% block custom_css %}
	{% end %}
	{% block custom_js %}
	{% end %}
</head>
<body>
	<div class="wrap">
		<!-- header -->
		{% block header %}
		<div class="headerwrap navbar navbar-default">
			<div class="header container nav-header">
				<div class="logo spefont"><a href="/" class="home">Kyles' Garden</a></div>
				<div class="rightitem">
					<div class="guestitem">
						
					</div>
					<div class="memberitem"></div>
				</div>
			</div>
		</div>
		{% end %}

		<!-- main -->
		<div class="mainwrap">
			<!-- login box -->
			{% if SU %}
			<form action="/logout" method="post" class="logoutbox logbox">
				{% raw xsrf_form_html() %}
				<a href="/logout" id="logoutsubmit">Sign out</a>
				<a href="/sharecollection">To Share Collection</a>
			</form>
			{% else %}
			<form action="/login" method="post" class="loginbox logbox">
				{% raw xsrf_form_html() %}
           		Name: <input type="text" name="name" id="UsernameContent">
           		Password: <input type="password" name="password" id="PasswordContent">
           		<a href="#" id="loginsubmit">Sign in</a>

           	</form>
            {% end %}
            {% block shareImage %}
                <img style="display: none" src="{{ static_url('image/favicon.ico') }}" alt="">
            {% end %}
			{% block main %}
			{% end %}
		</div>

		<!-- footer -->
		{% block footer %}
		<div class="footerwrap spefont container">
			Copyright (c) 2014-2016
			<a href="/article/2" target="_blank">Kyles Light</a>. <br>
			Powered by <a href="https://github.com/tornadoweb/tornado" target="_blank">Tornado</a>.<br>
			<span href="http://www.miitbeian.gov.cn/" target="_blank" id="ForCheck">鄂 ICP 备 15003296 号</span>
		</div>
		{% end %}
	</div>

	<script type="text/x-mathjax-config">
  		MathJax.Hub.Config({
    		showProcessingMessages: false,
    		tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] },
    		TeX: { equationNumbers: {autoNumber: "AMS"},
    				extensions: ["autobold.js","AMSmath.js", "AMSsymbols.js"],
    			 },
    		SVG:{scale:120},
    		showMathMenu: false
  		});
	</script>
</body>
</html>