{% extends 'base.html' %}

{% block title %}
	<title>浏览</title>
{% end %}

{% block describtion %}
	<meta name="Keywords" content="浏览 Kyles' garden blog" />
    <meta name="Description" content="Kyles' garden 的博客浏览页面" />
{% end %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/browse.css") }}">
{% end %}

{% block custom_js %}
	<script type="text/javascript" src="{{ static_url("js/browse.js") }}"></script>
{% end %}

{% block main %}
	<div class="browsewrap">
		<div class="booklist">
			{% for book in books %}
			<div class="book">
				<div class="booktitle spefont">{{ book['title'] }}
					<div class="book_operation">
						<a href="#" class="expandaddcollect">Add a Collection</a>
					</div>
				</div>

				<div class="addcollectbox none">
					<input type="text" class="addcollecttitle">
					<a href="#" class="submitcollect">Add</a>
					<input type="text" class="book_index none" value="{{ book['id'] }}">
				</div>
				<div class="bookcollect">
					{% for bookcollection in book['bookcollections'] %}
						{% if bookcollection['is_empty'] %}
							<a href="/edit/collection/{{ bookcollection['id'] }}" class="collect">{{ bookcollection['title'] }}</a>
						{% else %}
							<a href="/article/{{ bookcollection['articleid'] }}" class="collect">{{ bookcollection['title'] }}</a>
						{% end %}
					{% end %}
				</div>	
			</div>
			{% end %}
			<a href="#" id="expandaddbook">Add a Book</a>

			<div id="addbookbox" class="none">
				<input type="text" id="addbooktitle">
				<a href="#" id="submitbook">Add</a>
			</div>
		</div>


		
		<div class="articlelist">
			{% for article in articles %}
			<div class="article">
				<div class="timecontainer">
					{% if article['insert_time'] %}
					<li class="artyear">{{ article['insert_time'].year }}</li>
					<li class="artdate spefont">{{ article['insert_time'].day }}</li>
					<li class="artmonth">{{ article['insert_time'].month }} 月</li>
					{% end %}
				</div>
				<div class="artmain">
					<h1 class="arttitle"><a href="/article/{{ article['id'] }}" class="spefont">{{ article['title'] }}</a></h1>
					<div class="artfrom">来自  <a href="/article/{{ article['collection_first_article'] }}" class="artcollection">{{ article['collection_title'] }}</a> 中的文章</div>
					<div class="artdes">{% raw article['description'] %}</div>
				</div>
			</div>
			{% end %}
		</div>
	</div>
{% end %}