{% extends "base.html" %}

{% block title %}
	<title>创作</title>
{% end %}

{% block describtion %}
	<meta name="Keywords" content="创作 Kyles' garden blog" />
    <meta name="Description" content="Kyles' garden 的博客创作页面" />
{% end %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/edit.css") }}">
{% end %}

{% block custom_js %}
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="{{ static_url("js/load.js") }}"></script>

	<script type="text/javascript" src="{{ static_url("js/edit.js") }}"></script>
	<script type="text/javascript">
		Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
		Preview.callback.autoReset = true;  // make sure it can run more than once
		Preview.Init();
		Preview.Update();
	</script>
{% end %}

{% block main %}
	<div class="editmain">
		<div class="writingarea">
			<div class="writingcontainer">
			<textarea name="writing" id="writing" id="marked-mathjax-input"
  onkeyup="Preview.Update();"
  name="comment"
  "autofocus">
			#test
			</textarea>
			</div>
		</div>
		<form id="editdata" name="editdata" action="/article/create" method="post">
			{% raw xsrf_form_html() %}
			<input type="text" class="arttitle none" name='arttitle' id="arttitle">
			<input type="text" class="artdes none" name='artdes' id="artdes">
			<input type="text" class="cid none" name='cid' id='cid' value="{{ cid }}">
			<textarea class="none" name="ori_text" id="ori_text" cols="30" rows="10"></textarea>
			<div class="readareawrap">
				<div class="previewarea">
					<div class="preview" id="preview" >
						
					</div>
					<div class="preview" id="previewbuffer"></div>
				</div>
				<textarea id="previewtextcontainer" name="maintext" class="none">
				</textarea>
			</div>
		</form>
	</div>

	<div class="editoptions">
		<a href="#" class="articlepreview button">预览</a>
		<a href="#" class="articlesubmit button">发布</a>
	</div>
{% end %}