<!doctype html>
<html>
<head>
	<title>Search Enterance</title>
	<!--
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/base.css") }}">
	<script type="text/javascript" src="{{ static_url("js/jquery.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/base.js") }}"></script>-->
</head>
<body>
	<!-- <h1 class="logo">梧 桐</h1> -->
	<div class="resultshowcontainer">
		<div class="resultshow">
			<div class="resultlist">
				<h1>If you see this, it means it works!</h1>
			</div>
		</div>
	</div>
</body>
</html>