{% extends "base.html" %}

{% block title %}
	<title>修改</title>
{% end %}
{% block describtion %}
	<meta name="Keywords" content="修改 Kyles' garden blog" />
    <meta name="Description" content="Kyles' garden 的博客创作页面" />
{% end %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/edit.css") }}">
{% end %}

{% block custom_js %}
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>
	<script type="text/javascript" src="{{ static_url("js/load.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/modify.js") }}"></script>
	{% if is_grap %}
		<script type="text/javascript" src="{{ static_url("js/viz.js") }}"></script>
	{% end %}
	<script type="text/javascript">
		Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
		Preview.callback.autoReset = true;  // make sure it can run more than once
		Preview.Init();
		Preview.Update();
	</script>
{% end %}

{% block main %}
	<div id="is_grap" class="none">
		{% if is_grap %}
			ture
		{% else %}
			false
		{% end %}
	</div>
	<div class="editmain">
		<div class="writingarea">
			<div class="writingcontainer">
			<textarea name="writing" id="writing" id="marked-mathjax-input"
  onkeyup="Preview.Update();"
  name="comment"
  "autofocus">
			{{ article_tobe_modify['ori_text'] }}
			</textarea>
			</div>
		</div>
		{% if is_share %}
		<form id="editdata" name="editdata" action="/share/modify/{{ share_id }}" method="post">
		{% else %}
		<form id="editdata" name="editdata" action="/modify/article/{{ aid }}" method="post">
		{% end %}
			{% raw xsrf_form_html() %}
			<input type="text" class="arttitle none" name='arttitle' id="arttitle">
			<input type="text" class="artdes none" name='artdes' id="artdes">
			{% if is_share %}
			<input type="text" class="cid none" name='cid' id='cid' value="1">
			{% else %}
			<input type="text" class="cid none" name='cid' id='cid' value="{{ article_tobe_modify['collect_id'] }}">
			{% end %}
			<textarea class="none" name="ori_text" id="ori_text" cols="30" rows="10"></textarea>
			<div class="readareawrap">
				<div class="previewarea">
					<div class="preview" id="preview" >
						
					</div>
					<div class="preview" id="previewbuffer"></div>
				</div>
				<textarea id="previewtextcontainer" name="maintext" class="none">
				</textarea>
			</div>
		</form>
	</div>

	<div class="editoptions">
		<a href="#" class="articlepreview button">预览</a>
		<a href="#" class="articlesubmit button">发布</a>
	</div>
{% end %}